/* Team */
.team {
    background-color: $color-background-section-team;
    padding-top: 94px;
    @extend %section;
}

.team-container{
    @extend %container;
}

.team__title{
    @extend %section-title;
}

.team__set {
    display: flex;
    @extend %list;
}

.teammate {
    background-color: $color-background-main;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    .team__set &:not(:last-child) {
        margin-right: 30px;
}
}

.teammate__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.teammate__name {
    margin-bottom: 10px;
    color:$color-text-main;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.teammate__position {
    color: $color-text-additional;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

