/* Work*/
.work {
    @extend %section;
    @media screen and (max-width:1199px){
        display: none;
    }
}

.work-container {
    @extend %container;
}

.work__title {
   @extend %section-title;
}

.work__set {
    display: flex;
    align-items: center;  
    @extend %list;
}

.work__item:not(:last-child) {
    margin-right: 30px;
}

.work__thumb{
    position: relative;
    display: flex;   
    justify-content: center; 
} 

.work__thumb::before{
    content: '';
    position: absolute;
    display: inline-block;
    height: 70px;
    width: 100%;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);;
}

.work__text{
     position: absolute;
     bottom: 27px;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: $color-text-selection;
}