
    $color-text-main: #212121;
    $color-text-additional:#757575;
    $color-text-selection:#FFFFFF;
    $color-background-main:#FFFFFF;
    $color-backround-hero:#2F303A;
    $color-background-hero-new:#C4C4C4;
    $color-background-section-work:#F5F5F5;
    $color-background-section-team:#F5F4FA;
    $color-accent:#2196F3;
    $color-text-footer:rgba(255, 255, 255, 0.6);
    $color-button-main:#2196F3;
    $color-button-active:#188CE8;


        
.page {
    background-color: $color-background-main;
    color: $color-text-main;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

}

// header {
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     border-bottom-color: #ECECEC;
// }

// img {
//     display: block;
//     max-width: 100%;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// label a {
//     color: $color-accent;
//     text-decoration-skip-ink: none;
// }

// footer {
//     background-color: $color-backround-hero;
//     align-items: baseline;

// }